@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	font-size: 16px;
	overflow-x: hidden;
	font-weight: normal;
}
/* Start ofHeor sextion with responsive menue */
ul, li{
	list-style: none;
	display: inline-block;
}
.hero-container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 16px;
  left: 9px;
  z-index: 1; 
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #fff;  
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: orange;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer; 
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative; 
  background: #cdcdcd;
  border-radius: 3px; 
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -11px;
  padding: 50px;
  padding-top: 125px;
  
  background: #260e04;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
  display: block;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
@media (min-width: 768px){
	.container{
		width: 750px;
	}
}

@media (min-width: 992px){
	.container{
		width: 970px;
	}
}

@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
	.hero-container{
		width:970px
	}
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}

a, a:hover{
	text-decoration: none;
}
#top-nav{
	position: fixed;
	width: 100%;
	height: 50px;
	line-height: 50px;
	transition: 0.5s;
	z-index: 99;
}

#top-nav .logo-wrapper{
	font-size: 24px;
	font-weight: 600;
}
#top-nav .logo-wrapper .logo{
	color: orange;
}
.navbar-wrapper li .link-item{
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}
.navbar-wrapper li .link-item:hover{
	color: orange;
}
.navbar-wrapper li.active a{
	color: orange;
}
#menuToggle ul li.active a{
	color: orange;
}
#hero-area{
	position: relative;
}
#hero-area .hero-cover{
/* 	background-image: url(images/bg.jpg); */
	background: black;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height: 100vh;
}
#hero-area .hero-cover .hero-content-box{
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-40%);
	color: #fff;
}
#hero-area .hero-cover .hero-content-box .hello{
	font-size: 18px;
	font-weight: 300;
}
#hero-area .hero-cover .hero-content-box .post{
	margin: 20px 0 20px 0;
	font-size: 90px;
}
#hero-area .hero-cover .hero-content-box .hero-desc{
	font-size: 25px;
	color: #f7f7f7;
	margin-bottom: 60px;
}
#hero-area .hero-cover .hero-content-box .hero-desc span{
	color: orange;;
}
#hero-area .hero-cover .hero-content-box .hero-btns .btn{
	margin-right: 20px;
	position: relative;
	z-index: 1;
}
.btn{
	text-transform: uppercase;
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight:600;
	display: inline-block;
	position: relative;
	z-index: 1;
}
#hero-area .hero-cover .hero-content-box .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
}
#hero-area .hero-cover .hero-content-box .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
#hero-area .hero-cover .hero-content-box .social li a {
    color: #fff;
}
#hero-area .hero-cover .hero-content-box .social li a:hover{
    color: orange;
}
.btn:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	transition: all 0.4s ease-in-out;
	transform: scaleX(0);
	z-index: -1;
}
.btn-white{
	background-color: #fff;
	color: #1f1f1f;
}
.btn-white:hover{
	color: #fff;
}
.btn-white:hover:before{
	background-color: orange;
}
.btn-white:hover:before,
.btn-red:hover:before{
	transform: scaleX(1);
}
.btn-red{
	background-color: orange;
	color: #fff;
}
.btn-red:hover{
	color: orange;
	border: 1px solid orange
}
.btn-red:hover:before{
	background-color: #fff;
}
.section{
	padding: 100px 0;
}
/* End  of Hero sextion with responsive menue */

/* Start of About section  */
#about .about-pic{
	width: 38%;
	padding: 5px;
	border: 1px solid #c6c5c7;
}
#about .about-pic img{
	display: block;
	max-width: 100%;
}
#about .about-content{
	width: 58%;
	margin-top: 3px;
	letter-spacing: 1px;
}
#about .about-content h4 span{
	color: orange;
}
#about .about-content .about-subtitle{
	font-size: 18px;
	font-weight: 400;
	margin: 5px 0 0 0;
}
#about .about-content .about-desc{
	margin: 10px 0;
}
#about .about-content .about-desc .desc-top{
	margin-bottom: 5px;
}
#about .about-content .about-btns{
	margin: 12px 0 20px 0;
}
#about .about-content .about-btns .btn-white{
	border: 1px solid orange;
}
#about .about-content .about-btns .btn-red{
	margin: 0 20px 0 0;
	border: 1px solid orange;
}
#about .about-content .contact{
	display: flex;
}
#about .about-content .contact .contact-info{
	flex: 1;
}
#about .about-content .contact .contact-info .address{
	letter-spacing: 1;
}
#about .about-content .contact .about-btns{
	flex: 1;
}
.contact-section-title{
	text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    color: #2c1704;
}
.clear-fix{
	content: '';
	display: table;
	clear: both;
}
.text-center{
	text-align: center;
}
.section-subtitle{
	margin: 30px 100px;
	color: #888;
}
.white-smoke-color{
	background-color: #f7f7f7;
}
/* End of About section  */

/* Start of Portfolio section  */
.portfolio-section{
	padding-top: 100px;
}
.section-title{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	color: #2c1704;
}

#portfolio .section-heading .section-subtitle{
	margin: 30px 100px;
}
#portfolio .portfolio-content .portfolio-filter li{
	padding: 8px 18px;
	border: 1px solid #1f1f1f;
	cursor: pointer;
	margin-right: 15px;
	font-size: 14px;
	font-weight: 500;
}
#portfolio .portfolio-content .portfolio-filter li.active{
	color: orange;
	border: 1px solid orange;
}
#portfolio .portfolio-content .portfolio-items{
	margin: 30px 0 0 0;
}
#portfolio .portfolio-content .portfolio-items .item{
	position: relative;
	display: block;
	float: left;
	width: calc(100% / 3 - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}
#portfolio .portfolio-content .portfolio-items .item img{
	display: block;
	max-width: 100%;
}
#portfolio .portfolio-content .portfolio-items .item:before{
	content: '';
	position: absolute;
	display: block;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(28deg 1% 7% / 86%);
	z-index: 1;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
#portfolio .portfolio-content .portfolio-items .item-data{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%);
	transition: all 0.4s ease-in-out;
	z-index: 2;
	opacity: 0;
}
#portfolio .portfolio-content .portfolio-items .item-data .title{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
#portfolio .portfolio-content .portfolio-items .item-data .subtitle{
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
#portfolio .portfolio-content .portfolio-items .item:hover:before{
	opacity: 1;
}
#portfolio .portfolio-content .portfolio-items .item:hover .item-data{
	top: 50%;
	opacity: 1;
}
/* End of Portfolio section  */

/* Start of Testimonials section  */
#testimonials .section-heading{
	padding: 80px 0 0 0;
}
#testimonials .testimonials-content{
	padding: 8px 0 30px 0;
}
#testimonials .testimonials-content .icon{
	font-size: 44px;
	color: orange;
}
#testimonials .testimonials-content .testimonial-desc{
	margin: 20px 0 20px 0;
	width: 60%;
	margin: 40px auto;
	color: black;
}
#testimonials .testimonials-content .testimonial-pic{
	width: 6%;
	margin: 0 auto 30px auto;
}
#testimonials .testimonials-content .testimonial-pic img{
	display: block;
	max-width: 100%;
	border: 2px solid #999;
	border-radius: 50%;
}
#testimonials .testimonials-content .testimonial-profile span{
	display: block;
	color: #fff;
	margin-bottom: 10px;
	text-transform: capitalize;
}
#testimonials .testimonials-content .testimonial-profile span.name{
	font-weight: 700;
}
.owl-theme .owl-dots .owl-dot {
    outline: none;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: orange;
}
.owl-theme .owl-nav.disabled + .owl-dots{
	margin-top: 30px;
	margin-bottom: 40px;
}
/* End of Testimonials section  */

/* Start of Footer section  */
.footer-section{
	background: #211307;
    padding: 30px;
    color: #fff;
	text-align: center;
}
.footer-section .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}
.footer-section .social-links li:first-child {
    margin-left: 0;
}
.footer-section .social-links li a {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: orange;

}
.footer-section .social-links li a:hover {
    color: #ddd;
}
.footer-section .footer-bottom .copyright i{
	color:orange;
}
.btn-mouse-wrapper{
	position: absolute;
	display: inline-block;
	left: 50%;
	bottom: 4%;
	transform: translateX(-50%);
	z-index: 1;
}
.btn-mouse-wrapper .btn-mouse{
	border: 1px solid orange;
	padding: 20px 15px;
	border-radius: 50px;
} 
.btn-mouse-wrapper .btn-mouse:hover{
	background-color: orange;
	border: 2px solid orange;
} 
.btn-mouse-wrapper .btn-mouse .btn-wheel{
	width: 3px;
	height: 10px;
	padding: 0;
	background-color: #fff;
	transform: translateY(-10px);
	animation: updown 2s ease .1s infinite;
}
/* End of Footer section  */


/* Start of Education & Experience section  */
.display-spacing {
    padding-top: 15px;
    padding-bottom: 40px;
}

.el-heading.el-heading-center{
	max-width: 768px;
    text-align: center;
    margin: 0 auto 60px;
}
.el-heading .el-icon {
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
	position: relative;

}
#resume .education-experience{
	display: flex;
	align-items: center;
	justify-content: center;
}
#resume .education-experience .resume-title{
	font-weight: 600;
    position: relative;
    font-size: 20px;
    padding-left: 35px;
    margin-bottom: 15px;
    z-index: 3;
    line-height: 1;
}
#resume .education-experience ul li{
	display: block;
	position: relative;
}
#resume .education-experience ul li:after{
	top: -18px;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    position: absolute;
    background-color: #151812;
}
#resume .education-experience li .resume-item{
	position: relative;
}
#resume .education-experience li .resume-item:before{
	top: 43px;
    left: 0;
    width: 25px;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #151812;
}
#resume .education-experience li .resume-item .resume-head{
	padding-top: 25px;
	padding-left: 90px;
	margin-bottom: 20px;	
}
.resume-head h5{
	font-size: 18px;
	font-weight: 500;
}
.resume-head h6{
	font-size: 16px;
	font-weight: normal;	
}
.el-icon .el-icon-icon {
    top: 10px;
    left: 10px;
    z-index: 3;
    font-size: 30px;
    line-height: 36px;
    position: relative;
}
.ti-crown:before{
	font-family: FontAwesome;
    content: "\f19d";
}
.ti-university:before{
	font-family: FontAwesome;
    content: "\f19c";
}
.ti-sq-pencil:before{
	font-family: FontAwesome;
    content: "\f14b";
}
.ti-desktop:before{
	font-family: FontAwesome;
    content: "\f108";
}
.ti-pencil:before{
	font-family: FontAwesome;
    content: "\f040";
}
.ti-heart:before{
	font-family: FontAwesome;
    content: "\f004";
}
#resume .education-experience li .resume-item .resume-body{
	padding: 20px 43px;
	font-size: 14px;
}
#resume .education-experience li .resume-item .resume-head .el-icon{
	top: 26px;
    left: 24px;
    position: absolute;
}
.resume-title::before{
	top: 5px;
    left: -7px;
    width: 15px;
    height: 15px;
    display: block;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: orange;	
}
#resume .education-experience .left{
	width: 50%;
	padding: 10px;
}
#resume .education-experience .right{
	width: 50%;
	padding: 10px;
}
.el-about-heading .el-icon{
	margin-bottom: 9px;
	position: relative;
}
.el-icon:before {
    top: 0;
    width: 36px;
    height: 36px;
    content: "";
    position: absolute;
    border-radius: 50%;
    background: orange;
	z-index: -1;
	margin: auto;
}
.el-heading.el-heading-center .el-icon .el-icon-title {
    padding-top: 3px;
}
.el-heading h3 {
    color: #151812;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}
.divider {
    display: inline-block;
    margin: 0 9px 15px;
    background-color: orange;
}
.divider, .divider.divider-1 {
    width: 63px;
    height: 4px;
    position: relative;
}
.divider.divider-1-2:after {
    left: -17px;
}
.divider.divider-1-2:before {
    left: -9px;
}
.divider.divider-1-1 {
    margin-right: 12px!important;
}
.divider.divider-1-2:after, .divider.divider-1-2:before {
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: orange;
}
/* End of Education & Experience section  */
@keyframes updown{
	0%{
		transform: translateY(-10px);
	}
	30%{
		transform: translateY(-5px);
	}
	50%{
		transform: translateY(0px);
	}
	80%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(20px);
		opacity: 0.1;
	}
}
